<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_BASE_URL</key>
	<string>$(API_BASE_URL)</string>
	<key>API_KEY</key>
	<string>$(API_KEY)</string>
	<key>PRODUCT_BUNDLE_IDENTIFIER</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>PRODUCT_NAME</key>
	<string>$(PRODUCT_NAME)</string>
</dict>
</plist>
